body {
background-color: rgba(222, 89, 243, 0.568);
}
footer {
background-color: rgb(188, 149, 246);
color: white;
bottom:0;
position:fixed;
width:100%;
}
footer p{
text-align: center;
font-size: 0.6rem;
}